SITE_URL="YOUR_BASE_URL"  # e.g. https://www.example.com

# You can create a personal access token in GitHub with the necessary permissions to access your repositories.
# If you need to use the built-in GitHubCard component, you must provide a GitHub token
# so that the component can fetch repository data from the GitHub API. If you don't provide a token, the component will not be able to fetch data and will display an error message instead.
GITHUB_TOKEN="YOUR_GITHUB_TOKEN"