---
import config from "@shConfig";
import AuthorCard from "./widgets/AuthorCard";
import DiscordCard from "./widgets/DiscordCard";
---

<!-- Sidebar -->
<div class="flex w-full flex-col gap-5" data-pagefind-ignore>
  <!-- Author card -->
  <AuthorCard
    client:load
    image={config.author.avatarUrl}
    name={config.author.name}
    slug={config.author.name.toLowerCase().replace(/\s+/g, "")}
    description={config.author.bio}
    links={config.author.links}
    transition:name="sidebar"
  />

  <!-- Discord cards -->
  <a
    href="https://discord.com/users/876338724890349569"
    target="_blank"
    rel="noopener noreferrer"
  >
    <DiscordCard
      client:load
      title="Discord"
      subtitle="Connect with hxnguyez"
      description="Drop me a DM if you have any questions about this blog, or just want to chat!"
    />
  </a>

  <!-- You can add more widgets here, we suggest adding a widget with the shadcn Card component like this: -->
  <!-- <Card className="border border-white/10 rounded-[14px] p-5 relative overflow-hidden" /> -->

  <!-- Never remove this slot, it's for the Table of Contents (ToC) - which will be sticky -->
  <slot />
</div>
