---
import config from "@shConfig";
import AuthorCard from "./widgets/AuthorCard";
import DiscordCard from "./widgets/DiscordCard";

interface Props {
  isPost?: boolean;
}
const { isPost = false } = Astro.props;
---

<div class="flex w-full flex-col gap-5 h-full" data-pagefind-ignore>
  
  {!isPost && (
    <div class="flex flex-col gap-5 shrink-0">
      <AuthorCard
        client:load
        image={config.author.avatarUrl}
        name={config.author.name}
        slug={config.author.name.toLowerCase().replace(/\s+/g, "")}
        description={config.author.bio}
        links={config.author.links}
        transition:name="sidebar"
      />

      <a href="https://discord.com/users/876338724890349569" target="_blank" rel="noopener noreferrer">
        <DiscordCard
          client:load
          title="Discord"
          subtitle="Connect with hxnguyez"
          description="Drop me a DM if you have any questions about this blog, or just want to chat!"
        />
      </a>
    </div>
  )}

  <div class="flex-1 overflow-y-auto pr-1 select-none">
    <slot />
  </div>
</div>