---
import { cn } from "@lib/utils";

import { Book, BookDashed, BookMarked } from "@lucide/astro";

import I18nKey from "@i18n/i18nKey";
import i18n from "@i18n/translation";

const { gitHubData: data } = Astro.props;

if (!data) {
  throw new Error("GitHub data is required for GitHubCard component.");
}

let repoStatus = i18n(I18nKey.github_card_public);
let borderClass = "border-white/10 text-gray-400";
let StatusIcon = Book;

if (data.archived) {
  repoStatus = i18n(I18nKey.github_card_archive);
  borderClass = "border-yellow-500/50 text-yellow-400";
  StatusIcon = BookMarked;
} else if (data.private) {
  repoStatus = i18n(I18nKey.github_card_private);
  borderClass = "border-red-500/50 text-red-400";
  StatusIcon = BookDashed;
}
---

<div
  class={cn(
    "flex items-center gap-1 px-2 py-0.5 rounded-full border uppercase tracking-wider font-bold text-[12px]",
    borderClass,
  )}
>
  <StatusIcon size={12} />
  {repoStatus}
</div>
